#Work around for ignoring binary files
#Start
#Ignore all
*

#Unignore all with extensions
!*.*

#Unignore all dirs
!*/
#End

#Unignore makefiles
!Makefile

#ignore all object or archive files
*.[oa]

#ignore all vtk files
*.vtk

#igonore all old files
*.old

#ignore all temporary files
*~
#ignore all json files
*.json

#ignore ccls stuff
*.ccls*

#ignore vscode stuff
*.vscode*
#ignore all files in any directory named:
#results/*

output/

DebugNotes/

*build/

results/

docs/

#but keep the folders
#!results/.gitkeep
#!output/.gitkeep
